{% extends 'AnnoncesBlogBundle::layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-md-9">

                <h2>Publier une annonce</h2>
                <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!<br><br></p>

                <div class="well">
                    {{ form_errors(form) }}
                    {{ form_start(form) }}
                    <form class="form-horizontal">
                        <fieldset>
                            <legend>Déposer une annonce</legend>
                            <div class="form-group">
                                <label for="inputName" class="col-md-4">Catégorie</label>
                                <div class="col-md-8">
                                    {{ form_widget(form.categoryId, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-md-4">Titre de l'annonce</label>
                                <div class="col-md-8">
                                    {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': 'Titre de l\'annonce'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFirstname" class="col-md-4">Texte de l'annonce</label>
                                <div class="col-md-8">
                                    {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'placeholder': 'Texte de l\'annonce'} }) }}
                                </div>
                            </div>

                            <!--
                              <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                  <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </div>
                              </div>
                             -->
                        </fieldset>
                        {% if not app.user %}
                        <!-- Partie inscription (seulement si pas identifié) -->
                        <fieldset>
                            <legend>Inscription (à prevoir si on est pas logué / qu'on s'inscrive en même temps)</legend>
                            <div class="form-group">
                                <label for="inputName" class="col-md-4">Nom</label>
                                <div class="col-md-8">
                                    {{ form_widget(form.user.username, { 'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputFirstname" class="col-md-4">Prénom</label>
                                <div class="col-md-8">
                                    {{ form_widget(form.user.lastname, { 'attr': {'class': 'form-control', 'placeholder': 'Prenom'} }) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail" class="col-md-4">E-mail</label>
                                <div class="col-md-8">
                                    {{ form_widget(form.user.email, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse email'} }) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="col-md-4">Mot de passe</label>
                                <div class="col-md-8">
                                    {{ form_widget(form.user.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'} }) }}

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="col-md-4">Repeter</label>
                                <div class="col-md-8">
                                    {{ form_widget(form.user.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'} }) }}
                                </div>
                            </div>

                            {{ form_row(form._token) }}
                            {% endif %}

                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary">Publier l'annonce</button>
                                </div>
                            </div>
                   {{ form_end(form) }}

                        </fieldset>
                    </form>
                </div>

            </div><!-- /.col-md-9 -->
        </div>
    </div>
{% endblock %}